@font-face {
	font-family: SEGA LOGO FONT;
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('WOFF');
}

h1 {
	font-weight: 100;
	color:black;
	font-weight: bolder;
	width: 100%;
	vertical-align:2%;
}

p {
	font-weight: 50;
	color:black;
	align-items: center;
	align-content: center;
	width: 100%;
}

#mainDiv {
	height: 100%;
}

#container {
    width: 100%;
    margin: auto;
}

#container2 {
	width: 100%;
	height: 50%;
    margin: auto;
	background-color: lightgray;
	padding-top: 1%;
}
#first {
    width: 70%;
    float: left;
    height: 50px;
	padding-left: 5%;
}
#second {
    width: 15%;
    float: right;
    height: 50px;
	align-content:stretch;
}
#third {
    width: 15%;
    float: right;
    height: 50px;
	align-content:stretch;
}
#clear {
    clear: both;
}
#emptyDiv {
	height: 20px;
}
#searchbar {
	width: 80%;
    float: right;
    height: 50px;
	padding-left: 5%;
	/* padding-top: 5px; */
}
#searchbarText {
	width: 20%;
    float: left;
    height: 50px;
	padding-left: 5%;
}
#loadingpage {
	margin: auto;
	width: 40%;
	padding: 10px;
}
#loading {
	margin: auto;
	width: 50%;
	padding: 25% 25%;
}